@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Shared Styles */


/* Header Styles */
.banner {
    background-image: url(../img/BannerImage.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 40px 150px 0px 150px;
    background-size: cover;
    padding: 200px 150px;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */

}


/* Main Styles */
main {
    margin: 0px 150px;
}

section {
    margin-top: 100px;
}

.offer-title {
    color: #ff0000;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer-text {
    margin-top: 50px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.categories {
    margin: 20px 0px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.cat-img {
    display: block;
    margin: 0 auto;
}

.party {
    /* padding: 130px; */
    background-image: url(../img/Vectorrr.png);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

/* .party-texts {} */

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.party-text {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 40px 0 0 40px;
}

.party-img {
    height: 350px;
}

.port-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.port-heading{
    margin-top: 20px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.port-text{
    margin-top: 20px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 900px;
}

.port-images{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.port-img{
    border-radius: 16px;
    width: 390px;
}


/* Footer Styles */

footer {
    background: #070211;
    margin-top: 100px;
    padding: 70px 140px;
}

.footer-top {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 140px; */
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;
}

.footer-bottom {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.footer-top p , .footer-bottom p{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
}
.f-side-a{
    width: 350px;
}

.web,
.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web>img,
.call>img {
    margin: 0 16px;
}

.footer-icons {
    display: flex;
justify-content: center;
border-bottom: 1px solid #fff;
}
.icon {
width: 50px;
margin: 40px 25px;
}